* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img {
    max-height: 400px;
}

button {
    padding: 16px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    position: relative;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
}

.header-wrapper {
    background-color: #1f2937;
}

.header-top {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 32px 200px;
}

.header-body {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header-logo {
    color: white;
}

.hb-left, .hb-right {
    margin-left: 50px;
}

.hb-left {
    max-width: 500px;
}

.title, .title-sub {
    padding-bottom: 12px;
}

.section-1 {
    background-color: white;
    display: flex;
    padding: 32px;
    height: 400px;
    flex-direction: column;
}

.body-wrapper {
    color: #1f2937;
    flex: 1; /*added flex here.*/
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.title-sub {
    color: #f9faf8;
}

.body-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    width: 250px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 64px;
    padding: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-2 {
    background-color: #e5e7eb;
    display: flex;
    min-height: 300px;
    padding: 256px;
    flex-direction: column;
    justify-content: center;
}

.body-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.body-noter {
    text-align: end;
    font-weight: bolder;
    font-size: 26px;
}

.body-text, .body-noter {
    margin-bottom: 16px;
}

.section-3 {
    display: flex;
    max-height: 300px;
    padding: 120px;
    justify-content: center;
    align-items: center;
}

.action-wrapper {
    background-color: #3882f6;
    border-style: none;
    border-radius: 8px;
    color: #f9faf8;
    width: 1500px;
    height: 200px;
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 164px;
}

.action-text {
    font-size: 32px;
    font-weight: bold;
}

.action-button {
    border: 3px solid white;
    border-radius: 8px;
}

.footer {
    background-color: gainsboro;
    padding: 30px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

a:after {
    position: absolute;
    content: "";
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after {
    width: 100%;
}